html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
 overflow: scroll;
  font-family: 'Roboto', sans-serif;
}
.boxed{
    margin: auto;
    width:600px;
    height:400px;
    margin-top: 100px;
    background-image: url("../images/backgroung.png");
    border:3px solid rgb(34, 243, 34);;
    border-radius: 20%;
}
h2{
    text-align: center;
    font-size:16;
    color: rgb(34, 243, 34);;
    padding-top:
    10px;
    
}
.small-box{
margin: auto;
width:300px;
height:250px;

border:none;
display: flex;
align-items: center;
}
.form{
padding-left: 50px;
    
}
input[type=text],input[type=password],input[type=submit] {
    border:none;
    padding:12px 20px;
    margin: 8px 0;
    border-bottom:2px solid rgb(34, 243, 34);;   
    border-radius: 25%;
    
}

.img-login{
   width: 80px;
   height: 80px;
   margin-right: 270px;
   margin-left: auto;
   display:block;
}
.forgot{
    font-size: 16;
    color:rgb(34, 243, 34);
    text-align: center;
}
::placeholder{
    color:rgb(34, 243, 34);;
}
.submit{
    color: green;
}